<%= form_for @game do |f| %>
  <%= render 'shared/form_error', form: @game %>
  <fieldset>
    <%= f.label :purchase_date %>
    <br>
    <%= f.text_field :purchase_date, disabled: disabled("edit") %>
  </fieldset>
  <fieldset>
    <%= f.label :game_name %>
    <br>
    <%= f.text_field :game_name %>
  </fieldset>
  <fieldset>
    <%= f.label :game_alt_name %>
    <br>
    <%= f.text_field :game_alt_name %>
  </fieldset>

  <fieldset>
    <%= f.label :system %>
    <br>
    <%= f.select :system, ["NES", "SNES", "Genesis", "GBA", "SFC"], include_blank: true %>
  </fieldset>
  <fieldset>
    <%= f.label :includes %>
    <br>
    <%= f.text_field :includes %>
  </fieldset>

  <p>
    <%= f.submit %>
  </p>
<% end %>