= form_for @game do |f|
  = render 'shared/form_error', form: @game
  %fieldset
    = f.label :purchase_date
    %br/
    = f.text_field :purchase_date, data: { "date-picker" => true }, class: "js-date-picker"
  %fieldset
    = f.label :game_name
    %br/
    = f.text_field :game_name
  %fieldset
    = f.label :game_alt_name
    %br/
    = f.text_field :game_alt_name
  %fieldset
    = f.label :system
    %br/
    = f.select :system, ["NES", "Famicom", "SNES", "SFC", "GBA", "Genesis", "DS"], include_blank: true
  %fieldset
    = f.label :purchase_price
    %br/
    = f.text_field :purchase_price
  %fieldset
    = f.attachinary_file_field :photos

  %fieldset
    = f.label :includes
    %br/
    - ["None", "CIB", "Instructions", "Box"].each_with_index do |inc, i|
      = f.label :includes, inc, value: inc do
        = inc
        = f.radio_button :includes, inc, checked: i == 0 ? "checked" : false
  %p
    = f.submit class: 'btn btn-primary'