= form_for @game do |f|
  = render 'shared/form_error', form: @game
  %fieldset.grid.form-stacked.m1
    .g._1-2._1-1-sm
      = f.label :game_name
      = f.text_field :game_name
    .g._1-2._1-1-sm
      = f.label :game_alt_name
      = f.text_field :game_alt_name
  %fieldset.grid.form-stacked.m1
    .g._1-4._1-2-sm
      = f.label :purchase_date
      = f.text_field :purchase_date, data: { "date-picker" => true }
    .g._1-4._1-2-sm
      = f.label :purchase_price
      .prepend
        = f.text_field :purchase_price, class: "prepend"
    .g._1-2._1-1-sm
      = f.label :system, "System:"
      = f.select :system, ["NES", "Famicom", "SNES", "SFC", "GBA", "Genesis", "DS"], include_blank: true
  %fieldset.m1
    = f.label :includes, "Includes:"
    .btn-group
      - ["None", "CIB", "Instructions", "Box"].each_with_index do |inc, i|
        = f.label :includes, inc, class: "btn btn-tertiary", value: inc do
          = inc
          = f.radio_button :includes, inc, checked: inc == @game.includes ? "checked" : false
  %fieldset
    = f.attachinary_file_field :photos
  %hr
  %fieldset
    = f.submit class: 'btn btn-primary', data: { disable_with: (action_name == "new" ? "Adding game..." : "Updating game...")}
    = f.button "Cancel", class: 'btn btn-link', data: { dismiss: "modal" }, type: "button"