<%= link_to "+ New game", new_game_path %>

<%= debug @bomb %>

<table>
  <thead>
  <tr>
    <th>Purchase Date</th>
    <th>Game Name</th>
    <th>System</th>
    <!--<th>Purchase Price</th>-->
    <th>Includes</th>
    <th>Alternate Name</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
    
    <% @games.each do |game| %>
      <tr>
        <td>
          <%= game.purchase_date %>
        </td>
        <td>
          <%= link_to game.game_name, game_path(game) %>
        </td>
        <td>
          <%= game.system %>
        </td>
        <td>
          <%= game.includes %>
        </td>
        <td>
          <%= game.game_alt_name %>
        </td>
        <td>
          <%= link_to 'Edit',   edit_game_path(game) %>
          <%= link_to 'Delete', game_path(game),
                      method: :delete,
                      data: { confirm: 'Are you sure?' } %>
          <%= link_to 'pricecharting.com »', "http://videogames.pricecharting.com/search?q=#{game.game_name}&type=videogames&go=Go", target: "_blank" %>
        </td>
      </tr>
    <% end %>

  </tbody>
</table>

<%= link_to "+ New game", new_game_path %>