- if @game
  - @game.errors.full_messages.each do |message|
    = message

.container
  %header
    %h1.h1 All Games

  .m1= link_to "+ New game", '#', class: "btn btn-sm", data: { toggle: "modal", target: "#edit-modal", remote: new_game_path }

  %table.table-standard.full-width
    %thead
      %tr
        %th img
        %th= sortable "purchase_date"
        %th= sortable "game_name"
        %th= sortable "system"
        %th Purchase Price
        %th= sortable "includes"
        %th Alternate Name
        %th Actions
    %tbody
      - @games.each do |game|
        = render "game_line", game: game
    %tfoot
      %tr
        %td.text-r.light{ colspan: 4 } Total purchase price:
        %td{ colspan: 4, data: { total_purchase: true } }

  .m1= link_to "+ New game", '#', class: "btn btn-sm", data: { toggle: "modal", target: "#edit-modal", remote: new_game_path }

= render "shared/modal"
= render "shared/image_modal"
