<%= link_to '« All games', games_path %>

<table>
  <thead>
    <tr>
      <th>Purchase Date</th>
      <th>Game Name</th>
      <th>System</th>
      <!--<th>Purchase Price</th>-->
      <th>Includes</th>
      <th>Alternate Name</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <%= @game.purchase_date %>
      </td>
      <td>
        <%= @game.game_name %>
      </td>
      <td>
        <%= @game.system %>
      </td>
      <td>
        <%= @game.includes %>
      </td>
      <td>
        <%= @game.game_alt_name %>
      </td>
      <td>
        <%= link_to 'Edit', edit_game_path(@game) %>
        <%= link_to 'pricecharting.com »', "http://videogames.pricecharting.com/search?q=#{@game.game_name}&type=videogames&go=Go", target: "_blank" %>
      </td>
    </tr>
  </tbody>
</table>

<%= link_to '« All games', games_path %>


<!--<hr>-->
<!---->
<!--<div class="container">-->
  <!--<header>-->
    <!--<h1>Front Row</h1>-->
  <!--</header>-->
  <!--<section id="fetch">-->
    <!--<input type="text" placeholder="Enter a movie title" id="term"/>-->
    <!--<button id="search">Find me a poster</button>-->
  <!--</section>-->
  <!--<section id="poster">-->
  <!--</section>-->
<!--</div>-->