%article.game-info{ role: "main row" }
  %aside.game-image
    - if @game.photos.any?
      .grid.grid-nopad
        .g._5-6
          %a{ href: (cl_image_path @game.photos.first.path),
                              target: "_blank",
                              data: { thumb_target: true } }
            = cl_image_tag @game.photos.first.path,
              width: 365,
              crop: :fit,
              class: "img"
        .g._1-6
          %ul.game-thumbs
            - @game.photos.each do |photo|
              %li.game-thumbs__thumb
                %a{ href: "#",
                    data: { clickable_tiny_thumb: true,
                            tiny_thumb_path: (cl_image_path photo.path, width: 70, height: 70, quality: 40, crop: :fill),
                            thumb_path:      (cl_image_path photo.path, width: 365, crop: :fit),
                            full_img_path:   (cl_image_path photo.path) } }
                  = cl_image_tag photo.path, width: 70, height: 70, crop: :fill, quality: 40, class: "img"
    - else
      NO IMAGE
  %section.media-body
    %header
      %button.close.right.btn.btn-link.btn-sm{ "aria-label" => "Close", data: { dismiss: "modal" }, type: "button" }
        %span.fa.fa-close{ "aria-hidden" => "true" }
      %h1.h4= @game.game_name
    %ul.list-unstyled
      %li= @game.purchase_date
      %li= @game.game_name
      %li= @game.system
      %li= @game.includes
      %li= @game.game_alt_name
      %li.actions
        = link_to 'pricecharting.com »', "http://videogames.pricecharting.com/search?q=#{@game.game_name}&type=videogames&go=Go", target: "_blank", class: "btn btn-xs"